{% extends 'main/layout.html' %}
{% load static %}

    {% block title %}
    Вход
    {% endblock %}

{% block login %}
    <div class="form-container">
        <h2>Вход в систему</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.tags == 'success' %}success{% else %}error{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label>Логин:</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label>Пароль:</label>
                {{ form.password }}
            </div>

            <button type="submit">Войти</button>
        </form>

        <p style="margin-top: 15px; text-align: center;">
            Нет аккаунта? <a href="{% url 'regist' %}">Зарегистрироваться</a>
        </p>
    </div>
    {%endblock%}