{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    База знаний МГКЭИТ
{% endblock %}

{% block content %}
    <h1>База знаний МГКЭИТ</h1>
    <img src="{% static 'main/img/robot.png' %}" alt="robot"
    <spam class="logo"></span>
{% endblock %}
{% block info %}
    <p>Привет, это База знаний для студентов колледжа с добрым сердцем - МГКЭИТ <br>
    Тут ты сможешь найти конспекты по интересующей тебя теме и пройти небольшой закрепляющий тест</p>
{% endblock %}
{% block select %}
<h2>Для начала выбери свою площадку где ты обучаешься</h2>
{% endblock %}
{% block place %}
<ul>
    <a href="{% url 'place1' %}"><li>Центр программирования и безопасности <br> (Академика Миллионщикова, д. 20)</li></a>
    <a href="{% url 'place2' %}"><li>Центр городских технологий <br> (Судостроительная, 48)</li></a>
    <a href="{% url 'place3' %}"><li>Центр творчества и дизайна <br> (Коломенская, 5к3)</li></a>
    <a href="{% url 'place4' %}"><li>Центр ИТ.Бирюлёво <br> (Харьковский пр-д, 5А)</li></a>
</ul>
{% endblock %}
