{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<h1>Центр городских технологий (Судостроительная, 48)</h1>
{% endblock %}

{% block selles %}
<h1 class="hhh1">Выбери свой курс</h1>
<div class="selk"> <a class="k1p2" href="{% url 'k1p2' %}">
       1 курс
    </a>
    
   <a class="k2p2" href="{% url 'k2p2' %}">
        2 курс
    </a>
    
   <a class="k3p2" href="{% url 'k3p2' %}">
        3 курс
    </a>
    
    <a class="k4p2" href="{% url 'k4p2' %}">
        4 курс
    </a></div>
{% endblock %}