{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    База знаний МГКЭИТ
{% endblock %}

{% block content %}
<div class="content">
    <h1>База знаний МГКЭИТ</h1>
    <img src="{% static 'main/img/robot.png' %}" alt="robot">
    <span class="logo"></span>
    </div>
{% endblock %}
{% block info %}
    <p class="hi">Привет, это База знаний для студентов колледжа с добрым сердцем - МГКЭИТ <br>
    Тут ты сможешь найти конспекты по интересующей тебя теме и пройти небольшой закрепляющий тест</p>
{% endblock %}
{% block select %}
<h2 class="sel">Для начала выбери свою площадку где ты обучаешься</h2>
{% endblock %}
{% block place %}
<div class="places-grid">
    {% for place in places %}
    <a class="pl{{ forloop.counter }}" href="{% url 'place_detail' place.slug %}" style="border-color: {{ place.color }};">
        {{ place.name }} <br> 
        ({{ place.address }})
    </a>
    {% empty %}
    <p>Площадки пока не добавлены. Добавьте их через админ-панель.</p>
    {% endfor %}
</div>
{% endblock %}
